<div class="row">
	<div class="col-md-10 offset-md-1 col-xs-12">	
	<%= simple_form_for @finished_guitar, html: { multipart: true } do |f| %>
		<%= f.input :title %>
		<%= f.input :description , input_html: {rows: "10"}%>
			<br><br>
				<label class="btn btn-primary" id="label_uploader">
					Add Files
					<span id="span_uploader" >
						<%= f.file_field :attachments, multiple: true %>
					</span>
				</label>
			<br><br>
		<%= f.button :submit, class: "btn btn-primary" %>
	<% end %>
	</div>
</div>