<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1 class='big_title'>FINISHED GUITARS</h1>
			<hr>
		</div>
	</div>

	<div class="row">			
		<% @finished_guitars.each do |guitar|  %>
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
				<%= link_to finished_guitar_path(guitar) do %>
				 	<div class="box">
				 		<%= image_tag guitar.attachments.first.url if guitar.attachments.present? %>
				 		<div class="box-body">
		          <h2><%= guitar.title.upcase %></h2> 
		          <small><%= truncate(guitar.description, length: 100) %></small> 
		          <p><%= guitar.created_at.strftime("%A %d %b %Y")%></p>
				 		</div>
				 	</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>