<div class="row">
	<div class="col-md-10 offset-md-1 col-12">
		<h1 class="big_title">Progress</h1>
	</div>
	<div class="col-md-10 offset-md-1 col-12">	
	<%= simple_form_for @progress, html: { multipart: true } do |f| %>
		<%= f.input :title, label: false, placeholder: "Title", autofocus: true %>
		<%= f.input :description, as: :text, input_html: {rows: "10"}, label: false, placeholder: "Enter a description"%>
	</div>

	<div class="col-md-10 offset-md-1 col-12">
		<div class="image-upload-wrap">
			<%= f.file_field :pictures, multiple: true, class: "file-upload-input", id: "files" %>
			<h3>Drag and drop your pictures*</h3>
			<div id="result"></div>	
		</div>
		<hr>
		<em>*Did you think to resize your images? Do it<a href="https://tinyjpg.com/"> <strong>here!</strong></a></em>
	
	</div>
	
	<div class="col-md-10 offset-md-1 col-12">
		<br><br>
		<%= f.button :submit, class: "btn btn-primary" %>	
	</div>
<% end %>

</div>