<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1 class='big_title'>WORK IN PROGRESS</h1>
			<hr>
		</div>
	</div>

	<div class="row">			
		<% @progresses.each do |prog|  %>
			<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
				<%= link_to progress_path(prog) do %>
				 	<div class="box">
				 		<%= image_tag prog.pictures.first.url if prog.pictures.present? %>
				 		<div class="box-body">
		          <h2><%= prog.title.upcase %></h2> 
		          <p><%= prog.created_at.strftime("%A %d %b %Y")%></p>
		          <small><%= truncate(prog.description, length: 100) %></small> 
				 		</div>
				 	</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>