<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>WORK IN PROGRESS</h1>
			<hr>
		</div>
		<div id="guitars" class="transitions-enabled">
			<% @progresses.in_groups_of(4, false).each do |group| %>
		 		<div class="row">		
		 		<% group.each do |prog| %>	
		 			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<%= link_to progress_path(prog) do %>
						 <div class="box panel">
						 		<%= image_tag prog.pictures.first.url %>
						 		<div class="panel-body">
		              <h4 class="text-gold"><%= prog.title.upcase %></h4> 
		              <h5><%= prog.created_at.strftime("%d/%m/%Y")%></h5>
		              <small><%= truncate(prog.description, length: 100) %></small> 
						 		</div>
						 </div>
					 <% end %>
			 		</div>
				<% end %>
		 	</div>
		 	<% end %>
		</div>
	</div>
</div>