
<div class="container">
	<div class="row">
		<div class="col-12">
			<h1 class="big_title">CUSTOMIZATION</h1>
			<br>
		</div>
	</div>
	<div class="content-custo">
		<%= simple_form_for @customization, html: { multipart: true }  do |f| %>
			<div class="set_colors">
				<h2>Colors</h2>
				<hr>
				<div class="custo-boxes">
					<div class="row">
						<div class="col-4">
							<div class="picker">
								<h4><i class="fas fa-palette icon"></i> Background</h4> 
								<%= f.hidden_field :background_color %>
								<%= react_component('ColorpickerBackground', { color: prefered_background_color, selector: 'customization_background_color'} ) %>
							</div>
						</div>
						<div class="col-4">
							<div class="picker">
								<h4><i class="fas fa-palette icon"></i> Menu Background</h4>
								<%= f.hidden_field :navbar_color %>
								<%= react_component('ColorpickerNavbar', { color: prefered_navbar_color, selector: 'customization_navbar_color'} ) %>
							</div>
						</div>
						<div class="col-4">
							<div class="picker">
								<h4><i class="fas fa-palette icon"></i> Menu Tags</h4>
								<%= f.hidden_field :navbar_links_color %>
								<%= react_component('ColorpickerNavLinks', { color: prefered_navbar_links_color, selector: 'customization_navbar_links_color'} ) %>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-8">
							<div class="picker">
								<%= link_to "Primary", "#",  class: "btn btn-primary" %> <br><br>
								<%= link_to "Secondary", "#", class: "btn btn-danger" %>
								<hr>
								<h1 class="big_title">I am a big Title</h1>
								<h2>I am an exemple of Primary text</h2>
								<hr>								<i class= "fa fa-palette icon">Primary Icon</i>
								<hr>
								<p>This is a bit of paragrapheFusce vel dui. Phasellus ullamcorper ipsum rutrum nunc. Morbi ac felis. </p>
								<p>This is a bit of paragraphe Fusce vel dui. Phasellus ullamcorper ipsum rutrum nunc. Morbi ac felis.Quisque malesuada placerat nisl. Praesent adipiscing. Quisque id mi. Donec mi odio, faucibus at, scelerisque quis, convallis in, nisi. Vestibulum dapibus nunc ac augue.</p>
							</div>
						</div>

						<div class="col-4">
							<div class="picker">
								<h4><i class="fas fa-palette icon"></i> Primary </h4>
								<%= f.hidden_field :primary_color %>
								<%= react_component('ColorpickerPrimary', { color: prefered_primary_color, selector: 'customization_primary_color'} ) %>
							</div>
						</div>

					</div>
					<div class="row">
						<div class="col-4">
							<div class="picker">
								<h4><i class="fas fa-palette icon"></i> Secondary </h4>
								<%= f.hidden_field :secondary_color %>
								<%= react_component('ColorpickerSecondary', { color: prefered_secondary_color, selector: 'customization_secondary_color'} ) %>
							</div>
						</div>
						<div class="col-4">
							<div class="picker">
								<h4><i class="fas fa-palette icon"></i> Text</h4>
								<%= f.hidden_field :paragraphe_color %>
								<%= react_component('ColorpickerParagraphe', { color: prefered_paragraphe_color, selector: 'customization_paragraphe_color'} ) %>
							</div>
						</div>
						<div class="col-4">
							<div class="picker">
								<h4><i class="fas fa-palette icon"></i> Big titles </h4>
								<%= f.hidden_field :big_title_color %>
								<%= react_component('ColorpickerBigTitle', { color: prefered_big_title_color, selector: 'customization_big_title_color'} ) %>
							</div>
						</div>
					</div>
					<div class="row">
				
					</div>
			</div>
			</div>
				<div class="set_images">
					<h2>Images</h2>
					<hr>
					<br>
					<div class="row">
						<div class="col-6">
							<div class="custo-boxes">
								<h4><i class="fas fa-image icon"></i> Cover</h4>
								<hr>
								<div class="row">
									<div class="col-6">
										<%= image_tag @customization.main_image_url, class: "tiny_image" %>
									</div>
									<div class="col-6">
										<label class="btn btn-primary" >Choose file</label>
										<%= f.file_field :main_image, id: "main_image_upload", class: "input_file" %><br/> 
										<%= f.hidden_field :main_image_cache %>
										<img id="main_img_prev" src="#" class= "hidden"/> 
									</div>
								</div>
							</div>
						</div>
						<div class="col-6">
							<div class="custo-boxes">
								<h4><i class="fas fa-image icon"></i> Work In Progress</h4>
								<hr>
								<div class="row">
									<div class="col-6">
										<%= image_tag @customization.first_section_image_url, class: "tiny_image" %>
									</div>
									<div class="col-6">
										<label class="btn btn-primary" >Choose file</label>
										<%= f.file_field :first_section_image, id: "first_section_image_upload", class: "input_file" %><br/> 
										<%= f.hidden_field :first_section_image_cache %>
										<img id="first_section_img_prev" src="#"  class= "hidden"/> 
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							<div class="custo-boxes">
								<h4><i class="fas fa-image icon"></i> Finished Guitar</h4>
								<hr>
								<div class="row">
									<div class="col-6">
										<%= image_tag @customization.second_section_image_url, class: "tiny_image" %>
									</div>
									<div class="col-6">
										<label class="btn btn-primary" >Choose file</label>
										<%= f.file_field :second_section_image, id: "second_section_image_upload" , class: "input_file"%><br/> 
										<%= f.hidden_field :second_section_image_cache %>
										<img id="second_section_img_prev" src="#"  class= "hidden"/> 
									</div>
								</div>
							</div>
						</div>
						<div class="col-6">
							<div class="custo-boxes">
								<h4><i class="fas fa-image icon"></i> Media</h4>
								<hr>
								<div class="row">
									<div class="col-6">
										<%= image_tag @customization.third_section_image_url, class: "tiny_image" %>
									</div>
									<div class="col-6">
										<label class="btn btn-primary" >Choose file</label>
										<%= f.file_field :third_section_image, id: "third_section_image_upload", class: "input_file" %><br/> 
										<%= f.hidden_field :third_section_image_cache %>
										<img id="third_section_img_prev" src="#"  class= "hidden"/> 
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							<div class="custo-boxes">
								<h4><i class="fas fa-image icon"></i> Avatar</h4>
								<hr>
								<div class="row">
									<div class="col-6">
										<%= image_tag @customization.avatar_url, class: "tiny_image" %>
									</div>
									<div class="col-6">
										<label class="btn btn-primary" >Choose file</label>
										<%= f.file_field :avatar, id: "avatar_upload", class: "input_file" %><br/> 
										<%= f.hidden_field :avatar_cache %>
										<img id="avatar_prev" src="#"  class= "hidden"/> 
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="set_about">
					<h2>Text</h2>
					<hr>
					<div class="custo-boxes">
						<h4><i class="far fa-file-alt icon"></i> About</h4>
						<div class="row">
							<div class="col-12">
								<%= f.input :about, as: :text, input_html: {rows: 8}, label: false %>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-3 offset-6">

						<%= link_to "Reset to default layout", reset_customization_path(@customization), class: "btn btn-lg btn-reset" %>
					</div>
					<div class="col-3">
						<%= f.button :submit,  class: "btn btn-lg btn-danger" %>
					</div>
				</div>
		<% end %>		
	</div>
</div>  


