<div class="bg-image">
	<div class="container">
	  <div class="row">	
	    <div class="welcome-text">
	      <h1>LESCHNER GUITARS </h1>
	      <p>LUTHIER IN BUENOS AIRES</p>
	    </div>
	  </div>
	</div>
</div>


<section class="company-work">
	<div class="row">
		<div class="col-12 col-md-4 col-lg-4">
			<%= link_to progresses_path do %>
			<figure class="figure">
				<%= image_tag("https://s3-eu-west-1.amazonaws.com/leschnerguitars/images_site/workinprogress.jpg", class: 'figure-img img-fluid') %>
				<figcaption class="figure-caption text-gold">Work In Progress</figcaption>
			</figure>
			<% end %>
		</div>
		<div class="col-12 col-md-4 col-lg-4">
			<%= link_to finished_guitars_path do %>
			<figure class="figure">
				<%= image_tag("https://s3-eu-west-1.amazonaws.com/leschnerguitars/images_site/finishedguitars.jpg", class: 'figure-img img-fluid') %>
				<figcaption class="figure-caption text-gold">Finished Guitars</figcaption>
			</figure>
			<% end %>
		</div>
		<div class="col-12 col-md-4 col-lg-4">
			<%= link_to videos_path do %>
			<figure class="figure">
				<%= image_tag("https://s3-eu-west-1.amazonaws.com/leschnerguitars/images_site/media2.jpg", class: 'figure-img img-fluid') %>
				<figcaption class="figure-caption text-gold">Media</figcaption>
			</figure>
			<% end %>
		</div>	
	</div>
</section>
